.login-form{
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0;
    border: 0;
    width: 40vw;
    height: 40vh;
    background-color: #212529;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-login{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
}
.login-input{
    padding-left: 2rem;
    border-style: none;
    position: relative;
    font-size: 2rem;
    width: 70%;
    height: 4rem;
    margin-top: 5rem;
    border-radius: 2.5rem;
}
input::placeholder{
    position: absolute;
    top: 1rem;
    left: 2rem;
}
input::content{
    position: absolute;
    top: 1rem;
    left: 2rem;
}
.button{
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 12rem;
    height: 4rem;
}