.logon-form{
    margin: 0;
    border: 0;
    width: 40vw;
    height: 60vh;
    background-color: #202020;
}
.form-logon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-logon{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202020;
}
.logon-input{
    padding-left: 2rem;
    border-style: none;
    position: relative;
    font-size: 2rem;
    width: 50rem;
    height: 4rem;
    margin-top: 4.5rem;
    border-radius: 2.5rem;
}
input::placeholder{
    position: absolute;
    top: 1rem;
    left: 2rem;
}
input::content{
    position: absolute;
    top: 1rem;
    left: 2rem;
}
.button{
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 12rem;
    height: 4rem;
}